html, body{
    font-family: Arial Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background:#302F31;
    padding: 10px;
}

form{
    margin: 15px 0;
}
form input[type='text']{
    border: 2px solid #45C5BF;
    border-radius: 5px;
    padding: 5px;
    width: 75%;
}
form input[type='submit']{
    background: #45C5BF;
    border: none;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    padding: 7px 5px;
    width: 19%;
}
 #historico_mensagens{
     background: #FFF;
     border: 2px solid #45C5BF;
     height: 550px;
 }